h1 {
    font-size: 16px;
}

h2 {
    font-size: 12px;
}

h3 {
    color: red;
    font-size: 16px;
}

a {
    color: blue;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
}

a.links {
    color: red;
    font-size: 16px;
    font-weight: bold;
    padding: 3px 20px;
    text-decoration: none;
}

a.selected {
    background-color: #ffe2b9;
    color: red;
    font-size: 16px;
    font-weight: bold;
    padding: 3px 20px;
    text-decoration: none;
}

a.foot {
    font-size: 10px;
    color: black;
    font-weight: bold;
}

p.comment {
    padding-top: 10px;
}

table.page {
    width: 100%;
    height: 100%;
}

table.free {
    width: 100%;
    border: solid 1px #000000;
    padding: 5px;
}

table.header {
    width: 100%;
}

table.list {
    margin: auto;
    width: 75%;
    padding: 0px 50px;
}

table.main {
    border-collapse: collapse;
    border-color: #999999;
    width: 100%;
    margin: auto;
}

table.submit {
    text-align: left;
    width: 100%;
}

table.rooms {
    border: 0px solid #000000;
    width: 100%;
}

table.foot {
    width: 100%;
}

td.foot {
    font-size: 10px;
    padding: 0px;
    text-align: center;
    vertical-align: bottom;
}

td {
    height: 30px;
    vertical-align: top;
    font-size: 12px;
}

td.login {
    margin-left: auto;
    margin-right: auto;
}

td.logo {
    vertical-align: top;
    text-align: center;
    width: 100px;
}

td.logologin {
    text-align: center;
}

td.user {
    text-align: right;
    padding-right: 50px;
}

td.message {
    vertical-align: top;
    padding-left: 80px;
    padding-right: 20px;
    padding-top: 10px;
}

td.title {
    font-weight: bold;
    background-color: #aaafe6;
    text-align: center;
    vertical-align: middle;
}

td.titlefaded {
    font-weight: bold;
    background-color: #c0c4e7;
    text-align: center;
    vertical-align: middle;
    color: #636686;
}

td.day {
    font-weight: bold;
    background-color: #d9dae7;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    height: 100px;
}

td.cell {
    background-color: #ffe2b9;
    text-align: center;
    vertical-align: middle;
}

td.cellfaded {
    width: 75px;
    background-color: #ffedd4;
    text-align: center;
    vertical-align: middle;
}

td.roomtitles {
    font-weight: bold;
    color: blue;
}

td.bottom {
    vertical-align: bottom;
}

input.field {
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    margin: 5px 0px;
    display: block;
    width: 200px;
    border: solid;
    border-width: 1px;
}

input.submit {
    float: left;
    margin: 0px 20px;
}

#time {
    font-size: 10px;
    font-weight: normal;
    color: #333333;
}

#timetabled {
    color: #999999;
}
